<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>КАДИС</title>
  <link href="css/main.css" rel="stylesheet">
</head>

<body class="page">
  <div class="page__wrapper">

    <main class="page-404">
      <div class="uk-container">
        <div class="page-404__inner">
          <img class="page-404__img" src="../img/periscope.png" alt="">
          <img class="page-404__number" src="../img/404.png" alt="">
          <h1 class="page-404__title">Страница не найдена</h1>
          <div class="page-404__subtitle">Возможно, страница была удалена или еще что-нибудь</div>
          <a class="page-404__link default-btn" href="#">На главную</a>
        </div>
      </div>
    </main>
  </div>
  </div>
  <script src="bundle.js"></script>
</body>

</html>