@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Regular.woff"),
    local("OpenSans Regular"), local("OpenSans-Regular");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-Bold.woff"),
    local("OpenSans Bold"), local("OpenSans-Bold");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Yeseva One";
  src: url("../fonts/YesevaOne/YesevaOne-Regular.woff2"),
    local("Yeseva One Regular"), local("Yeseva One-Regular");
  font-weight: normal;
  font-style: normal;
}
