@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff"),
    local("OpenSans-Regular");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), local("OpenSans-Bold");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Yeseva One";
  src: url("../fonts/YesevaOne-Regular.woff") format("woff"),
    local("Yeseva One-Regular");
  font-weight: normal;
  font-style: normal;
}
