// 1. Your custom variables and variable overwrites.
@import "variables";
$global-font-family: $font-base;

$base-color: #050708;

$container-large-max-width: 1840px;
$container-small-max-width: 1277px;
$global-medium-gutter: 15px;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.

//search
$search-default-width: 200px;

@mixin hook-search-input() {
  border: none;
  border-bottom: 1px solid #cacaca;
  background-color: transparent;
  color: #21292c;
}

//tab
$tab-item-padding-vertical: 10px;
@mixin hook-tab() {
  border-bottom: none;
  & > * {
    flex-grow: 1 !important;
  }
}

@mixin hook-tab-item() {
  border: 1px solid #dddddd;
}

@mixin hook-tab-item-active() {
  border-bottom: 4px solid $theme-color-1;
}

//container
@media (max-width: $breakpoint-xlarge) {
  .uk-container-large {
    padding: 0 !important;
  }
  .uk-container .uk-container {
    padding: 0 30px !important;
  }
}

@media (max-width: $breakpoint-xlarge) {
  .uk-container .uk-container {
    padding: 0 20px !important;
  }
}

//grid
$grid-large-gutter-horizontal: 30px;

//navbar
$navbar-nav-item-color: #fff;
$navbar-nav-item-hover-color: #fff;
$navbar-dropdown-nav-item-color: #fff;
$navbar-dropdown-nav-item-hover-color: #fff;
$navbar-dropdown-padding: 0;

@mixin hook-navbar() {
  display: block;
}

//modal
$modal-dialog-width: 820px;
$modal-body-padding-horizontal: 0;
$modal-body-padding-vertical: 0;

//breadcrumbs
$breadcrumb-item-font-size: 14px;
$breadcrumb-item-color: #798082;

@mixin hook-breadcrumb-item() {
  text-decoration: underline;
}

@mixin hook-breadcrumb-item-active() {
  text-decoration: none;
}

.uk-breadcrumb > * {
  max-width: 100%;
}

//select
$internal-form-select-image: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='10' viewBox='0 0 16 11'%3E%3Cpath fill='%23b3b3b3' fill-rule='evenodd' d='M14 1L8 9 2 1h12z' data-name='Прямоугольник 3'/%3E%3C/svg%3E%0A";

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";
