.about-team {
  background-color: #ebebeb;
}

.about-team__intro {
  display: grid;
  grid-template-columns: 295px auto;
  grid-gap: 25px;
  margin-bottom: 110px;
  @media (max-width: $breakpoint-medium) {
    margin-bottom: 77px;
  }
  @media (max-width: $breakpoint-small) {
    grid-template-columns: 280px;
    margin-bottom: 43px;
    & > div:nth-child(2) {
      display: none;
    }
  }
}

.about-team__group {
  display: grid;
  grid-template-columns: repeat(auto-fit, 294px);
  grid-column-gap: 33px;
  grid-row-gap: 50px;
  margin-bottom: 115px;
  @media (max-width: $breakpoint-small) {
    grid-template-columns: repeat(auto-fit, 136px);
    grid-column-gap: 8px;
    margin-bottom: 60px;
  }
}

.about-team__director {
  height: 100%;
}

.about-team__director-image {
  height: 440px;
  margin-bottom: 17px;
}

.about-team__director-name {
  color: #474a4b;
  font-size: 16px;
  font-weight: 700;
}

.about-team__director-position {
  color: #474a4b;
  font-size: 15px;
  font-weight: 400;
}
