.course-category {
  margin-bottom: 8px;
  padding: 28px 40px 68px;
  background-color: #fff;
  @media (max-width: $breakpoint-medium) {
    padding: 30px 30px 50px;
  }
  @media (max-width: $breakpoint-small) {
    padding: 28px 15px 50px;
  }
}

.course-category__title {
  position: relative;
  margin-bottom: 44px;
  color: #474a4b;
  font-size: 15px;
  font-weight: 400;
  &::before {
    content: '';
    width: 5px;
    height: 34px;
    position: absolute;
    left: -40px;
    top: -5px;
    background-color: #009fc0;
    @media (max-width: $breakpoint-medium) {
      left: -30px;
    }
  }
  @media (max-width: $breakpoint-medium) {
    margin-bottom: 40px;
  }
  @media (max-width: $breakpoint-small) {
    margin-bottom: 25px;
    font-size: 14px;
    &::before {
      left: -15px;
    }
  }
}
