.footer-main {
  position: relative;
  padding-top: 35px;
  padding-bottom: 85px;
  background-color: #fff;
  border-top: 1px solid #dedede;
  @media (max-width: $breakpoint-medium) {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  @media (max-width: $breakpoint-small) {
    padding-top: 30px;
    padding-bottom: 130px;
  }
}

.footer-main__wrapper {
  display: flex;
  align-items: flex-start;
  position: relative;
  @media (max-width: $breakpoint-medium) {
    flex-direction: column;
  }
}

.footer-main__contacts {
  margin-bottom: 40px;
  @media (max-width: $breakpoint-medium) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  @media (max-width: $breakpoint-small) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.footer-main__tel {
  margin-bottom: 25px;
  margin-right: 85px;
  @media (max-width: $breakpoint-medium) {
    margin-right: 0;
  }
}

.footer-main__time {
  margin-bottom: 22px;
}

.footer-main__leftside {
  display: flex;
  flex-direction: column;
  @media (max-width: $breakpoint-medium) {
    flex-direction: row;
    width: 100%;
  }
}

.footer-main__rightside {
  @media (max-width: $breakpoint-medium) {
    display: none;
  }
}
