.header-info {
  background-color: $bg-color-1;
  @media (max-width: $breakpoint-small) {
    display: none;
    height: 0;
  }
}

.header-info__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
}

.header-info__audit {
  font-size: 14px;
  color: #21292c;
  line-height: 1;
  &:hover {
    color: #21292c;
  }
}

.header-info__audit-icon {
  margin-right: 9px;
}
