.home-intro {
  background: #0e4493 url('../../img/home-intro.jpg') 50% 50% no-repeat;
  background-size: cover;
  padding-top: 70px;
}

.home-intro__content {
  position: relative;
  z-index: 5;
}

.home-intro__title {
  margin-bottom: 25px;
  color: #fff;
  font-family: $font-decor;
  font-size: 54px;
  font-weight: 700;
  line-height: 1;
  @media (max-width: $breakpoint-small) {
    font-size: 36px;
  }
}

.home-intro__text {
  margin-bottom: 240px;
  color: #fff;
  font-family: $font-decor;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.1;
  @media (max-width: $breakpoint-medium) {
    margin-bottom: 280px;
  }
  @media (max-width: $breakpoint-small) {
    margin-bottom: 80px;
    font-size: 24px;
  }
}

.home-intro__buttons {
  display: flex;
  align-items: center;
}

.home-intro__callback {
  margin-right: 28px;
  min-width: 160px;
}

.home-intro__link {
  white-space: nowrap;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  @include m-no-link-decor;
  &:hover {
    color: #fff;
    .home-intro-link__arrow {
      animation: arrow-move 0.25s ease-out;
    }
  }
}
