.innerpage {
  background-color: #fff;
}

.innerpage__title {
  margin-bottom: 40px;
  color: #21292c;
  font-family: $font-decor;
  font-size: 55px;
  @media (max-width: $breakpoint-medium) {
    margin-bottom: 25px;
    font-size: 44px;
  }
  @media (max-width: $breakpoint-small) {
    margin-bottom: 20px;
    font-size: 30px;
  }
}

.innerpage__section {
  padding: 85px 0 100px;
  @media (max-width: $breakpoint-medium) {
    padding: 50px 0 90px;
  }
  @media (max-width: $breakpoint-small) {
    padding: 28px 0 56px;
  }
}

.innerpage__section-title {
  margin: 0 0 25px 0;
  color: #21292c;
  font-family: $font-decor;
  font-size: 40px;
  @media (max-width: $breakpoint-medium) {
    font-size: 30px;
  }
  @media (max-width: $breakpoint-small) {
    margin-bottom: 16px;
    font-size: 18px;
  }
}
