.mail {
  white-space: nowrap;
  color: #21292c;
  font-size: 15px;
  line-height: 1;
  @include m-no-link-decor;
  &:hover {
    color: #21292c;
  }
  &_place_header {
    padding-right: 67px;
    border-right: 1px solid #cacaca;
    .mail__icon {
      margin-right: 9px;
    }
    @media (max-width: $breakpoint-large) {
      padding-right: 0;
      border-right: none;
    }
  }
  &_place_footer {
    .mail__icon {
      margin-right: 25px;
      @media (max-width: $breakpoint-medium) {
        margin-right: 15px;
      }
    }
  }
}

.mail__icon {
  fill: #b3b3b3;
}
