.nav-toggler {
  display: none;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  @include m-reset-btn();
  margin-top: 13px;
  color: #fff;
  font-size: 25px;
  line-height: 1;
  cursor: pointer;
  &.is-active {
    .nav-toggler__more {
      display: none;
    }
    .nav-toggler__close {
      display: block;
    }
  }
  @media (max-width: $breakpoint-large) {
    display: flex;
  }
  @media (max-width: $breakpoint-small) {
    display: none;
  }
}

.nav-toggler__more svg {
    width: 28px;
    height: 28px;
}

.nav-toggler__close {
  display: none;
}

.nav-toggler__close svg {
  width: 28px;
  height: 28px;
}
