.quality-certificate {
  position: relative;
  top: 15px;
  width: 116px;
  height: 116px;
  background: url('../img/quality-certificate.svg') 50% 50% no-repeat;
  background-size: cover;
  @media (max-width: $breakpoint-medium) {
    bottom: -110px;
  }
  @media (max-width: $breakpoint-small) {
    bottom: -150px;
    order: 2;
  }
}
