.team-item__image {
  height: 295px;
  margin-bottom: 18px;
  @media (max-width: $breakpoint-small) {
    height: 136px;
  }
}

.team-item__name {
  color: #474a4b;
  font-size: 16px;
  font-weight: 700;
  @media (max-width: $breakpoint-small) {
    font-size: 14px;
  }
}

.team-item__position {
  color: #474a4b;
  font-size: 15px;
  font-weight: 400;
  @media (max-width: $breakpoint-small) {
    font-size: 14px;
  }
}
