// 1. Your custom variables and variable overwrites.
@import "variables";
$global-font-family: $font-base;

$base-color: #050708;

$container-large-max-width: 1840px;
$container-small-max-width: 1277px;
$global-medium-gutter: 15px;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.


//search
$search-default-width: 200px;

@mixin hook-search-input() {
  border: none;
  border-bottom: 1px solid #cacaca;
  background-color: transparent;
  color: #21292c;
}

//tab
$tab-item-padding-vertical: 10px;
@mixin hook-tab() {
  border-bottom: none;
  & > * {
    flex-grow: 1 !important;
  }
}

@mixin hook-tab-item() {
  border: 1px solid #dddddd;
}

@mixin hook-tab-item-active() {
  border-bottom: 4px solid $theme-color-1;
}

//container
@media (max-width: $breakpoint-xlarge) {
  .uk-container-large {
    padding: 0 !important;
  }
  .uk-container .uk-container {
    padding: 0 30px !important;
  }
}

@media (max-width: $breakpoint-xlarge) {
  .uk-container .uk-container {
    padding: 0 20px !important;
  }
}

//grid
$grid-large-gutter-horizontal: 30px;


// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";
