.about-mission {
  padding: 80px 110px 70px 0;
  box-sizing: border-box;
  background: #fff url('../img/bg-callback-modal.jpg') 0% 0% repeat-y;
  background-size: 100% 20px;
}

.about-mission__content {
  padding: 90px 120px 90px 35px;
  background: #fff url('../img/mission-pic.svg') 95% 5% no-repeat;
  background-size: 46px 63px;
}

.about-mission__title {
  margin-bottom: 20px;
  color: #21292c;
  font-family: $font-decor;
  font-size: 38px;
  font-weight: 600;
}

.about-mission__text {
  color: #474a4b;
  font-size: 15px;
  font-weight: 400;
}
