.about-docs {
  background-color: #ebebeb;
}

.about-docs__list {
  @include m-reset-list;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  li {
    margin-right: 18px;
    margin-bottom: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  @media (max-width: $breakpoint-small) {
    justify-content: center;
  }
}
