.articles {
  padding: 134px 0 140px;
  background-color: #ebebeb;
}

.articles__title {
  margin-bottom: 68px;
  color: #21292c;
  font-family: $font-decor;
  font-size: 38px;
  font-weight: 600;
  line-height: 1;
}
