.default-btn {
  display: inline-block;
  min-width: 160px;
  height: 60px;
  padding: 24px 10px;
  box-sizing: border-box;
  background-color: $theme-color-1;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-image: linear-gradient(to bottom, #1f9bc4, #48b8dd);
    color: #fff;
    text-decoration: none;
    .default-btn__arrow {
      animation: arrow-move 0.25s ease-out;
    }
  }
}
