.footer-main {
  padding-top: 35px;
  padding-bottom: 60px;
  background-color: #fff;
}

.footer-main__wrapper {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.footer-main__contacts {
  margin-bottom: 40px;
}

.footer-main__tel {
  margin-bottom: 25px;
}

.footer-main__time {
  margin-bottom: 22px;
}

.footer-main__leftside {
  display: flex;
  flex-direction: column;
  @media (max-width: $breakpoint-medium) {
    flex-direction: row;
  }
}

.footer-main__rightside {
    // display: flex;
    // align-items: flex-start;
    // justify-content: space-between;
}
