.footer-bottom {
  padding-top: 35px;
  padding-bottom: 45px;
}

.footer-bottom__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom__owner {
  color: #21292c;
  font-size: 14px;
  font-weight: 400;
}

.footer-bottom__link {
  color: #21292c;
  font-size: 14px;
  text-decoration: underline;
  &:hover {
    color: #21292c;
  }
}
