.header-nav {
  background-color: $theme-color-1;
}

.header-nav__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header-nav__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-wrap: wrap;
  @include m-reset-list;
  @media (max-width: $breakpoint-large) {
    width: auto;
    height: 68px;
    overflow: hidden;
    &.is-active {
      height: auto;
    }
  }
  li {
    flex-grow: 1;
    @media (max-width: $breakpoint-large) {
      flex-grow: 0;
    }
  }
}

.header-nav__link {
  display: block;
  padding: 22px 18px;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  font-weight: 600;
  background-color: $theme-color-1;
  transition: background-color 0.25s;
  font-size: 15px;
  @include m-no-link-decor;
  &:hover {
    background-color: darken($theme-color-1, 10%);
    transition: background-color 0.25s;
    color: #fff;
  }
}
