.header-main {
  background-color: #fff;
}

.header-main__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-main__logo {
  min-width: 150px;
  margin-right: 55px;
}

.header-main__leftside {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-main__mail {
  margin-right: 50px;
}

.header-main__rightside {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-main__time {
  margin-right: 50px;
}
