.home-services {
  padding-top: 90px;
  background-color: #fff;
}

.home-services__pool {
  margin-top: 50px;
}

.home-services__row {
  display: grid;
  grid-gap: 30px;
  margin-bottom: 65px;
  &:nth-child(n) {
    grid-template-columns: minmax(350px, 610px) minmax(350px, 640px)
  }
  &:nth-child(2n) {
    grid-template-columns: minmax(350px, 640px) minmax(350px, 610px);
  }
  &:last-child {
    margin-bottom: 0;
  }
  @media (max-width: $breakpoint-medium) {
    grid-gap: 20px;
    &:nth-child(n),
    &:nth-child(2n) {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: $breakpoint-small) {
    margin-bottom: 20px;
    &:nth-child(n),
    &:nth-child(2n) {
      grid-template-columns: auto;
    }
  }
}
