.home-service-tabbed-about__tab {
  margin: 0 0 0 -20px;
  @media (max-width: $breakpoint-medium) {
    margin-left: 0;
  }
}

.home-service-tabbed-about__tab li {
  margin-bottom: 20px;
  @media (max-width: $breakpoint-medium) {
    width: 100%;
    margin-bottom: 15px;
    padding-left: 0;
  }
}
