.home-about-top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  @media (max-width: $breakpoint-small) {
    flex-direction: column;
    align-items: center;
  }
}

.home-about-top__branches {
  margin-right: 80px;
  white-space: nowrap;
  @media (max-width: $breakpoint-medium) {
    margin-right: 35px;
  }
  @media (max-width: $breakpoint-small) {
    margin-bottom: 20px;
  }
}

.home-about-top__left-branch,
.home-about-top__right-branch {
  width: 130px;
  height: 168px;
  @media (max-width: $breakpoint-medium) {
    width: 80px;
    height: 125px;
  }
  @media (max-width: $breakpoint-medium) {
    width: 45px;
    height: 75px;
  }
}

.home-about-top__left-branch {
  // transform: scaleX(-1);
  margin-left: 30px;
}

.home-about-top__list {
  @include m-reset-list();
  margin-top: 38px;
  @media (max-width: $breakpoint-medium) {
    margin-top: 0;
  }
  @media (max-width: $breakpoint-small) {
    text-align: center;
  }
}

.home-about-top__list li {
  margin-bottom: 26px;
  color: #21292c;
  font-family: $font-decor;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.1;
  @media (max-width: $breakpoint-medium) {
    margin-bottom: 10px;
    font-size: 30px;
  }
  @media (max-width: $breakpoint-small) {
    font-size: 24px;
  }
}
