.home-section {
  &_dark {
    .home-section__overhead {
      color: #474a4b;
    }
    .home-section__title {
      color: #21292c;
    }
    .home-section__desc {
      color: #474a4b;
    }
  }
  &_light {
    .home-section__overhead {
      color: #fff;
    }
    .home-section__title {
      color: #fff;
    }
    .home-section__desc {
      color: #fff;
    }
  }
}

.home-section__overhead {
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

.home-section__title {
  margin: 0 0 15px 0;
  font-family: $font-decor;
  font-size: 56px;
  font-weight: 600;
}

.home-section__desc {
  font-size: 15px;
  line-height: 1.3;
}
