.intro {
  background: #0e4493 url('../img/intro.jpg') 50% 50% no-repeat;
  background-size: cover;
  padding-top: 70px;
}

.intro__title {
  margin-bottom: 25px;
  // text-transform: uppercase;
  color: #fff;
  font-family: $font-decor;
  font-size: 54px;
  font-weight: 700;
  line-height: 1;
}

.intro__text {
  margin-bottom: 230px;
  color: #fff;
  font-family: $font-decor;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.1;
}

.intro__buttons {
  display: flex;
  align-items: center;
}

.intro__callback {
  margin-right: 28px;
}

.intro__link {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  @include m-no-link-decor;
  &:hover {
    color: #fff;
    .intro-link__arrow {
      animation: arrow-move 0.25s ease-out;
    }
  }
}
