.partners-slider {
  margin-top: 60px;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.partners-slider__arrow {
  color: #959595;
  &:hover {
    color: #959595;
  }
  svg {
    width: 22px;
    height: 22px;
  }
}

.partners-slider__arrow-left {
  left: -90px;
}

.partners-slider__arrow-right {
  left: calc(100% + 90px);
}
