.team-item {

}

.team-item__image {
  height: 295px;
  margin-bottom: 25px;
}

.team-item__name {
  margin-bottom: 6px;
  color: #474a4b;
  font-size: 16px;
  font-weight: 700;
}

.team-item__position {
  color: #474a4b;
  font-size: 15px;
  font-weight: 400;
}
