.team-slogan {
  padding: 130px 64px 140px 0;
  box-sizing: border-box;
  background: #fff url("../img/bg-callback-modal.jpg") 0 0 repeat-y;
  background-size: 100% 20px;
}

.team-slogan__text {
  display: inline;
  padding-left: 34px;
  background-color: #fff;
  color: #21292c;
  font-family: $font-decor;
  font-size: 38px;
  font-weight: 600;
}
